:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.card,
 button {
  cursor: pointer;
}

.card {
  width: 200px;

  background-color: rgba(255, 255, 255, 0.221);
  text-align: center;
  color: black;
  line-height: .8;
  padding: 5px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 3px 3px 6px rgba($color: #000000df, $alpha: 1.0);

  .vote {
    margin-top: 10px;
    margin-left: 3px;
  }

  &:hover {
    scale: 1.1;
  }


  img {
    pointer-events: none;
  }

  .country-flag {
    width: 25px;
    height: 20px;
  }
}

